<!DOCTYPE html>
<html>
  <head>
    <meta charset="<%= htmlWebpackPlugin.options.charset %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>

    <div id="root">

    </div>

  </body>
</html>