<!DOCTYPE html>
<html>
  <head>
    <meta charset="<%= htmlWebpackPlugin.options.charset %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>

    <div id="root">

    </div>

    <div id="doc"></div>
    
    <input type="text" id="trackTitle">
    <button id="addTrack" class="btn">Add Track</button>

  </body>
</html>