//fonts
@frRegular: 'Fira';
@frItalic: 'FiraItalic';
@frBold: 'FiraBold';
@frBoldItalic: 'FiraBoldItalic';
@osRegular: 'OpenSans';
@osItalic: 'OpenSansItalic';
@osSemiBold: 'OpenSansSemiBold';
@osSemiboldItalic: 'OpenSansSemiboldItalic';
@osBold: 'OpenSansBold';
@osBoldItalic: 'OpenSansBoldItalic';

@mateBg: #678650;

html {
  background-color: @mateBg;
}